{% extends 'padre.html' %}
{% load static %}
{% block header %}
<h1>Sobre mí</h1>
{% endblock %}

{% block contenido_que_cambia %}
    <p>Soy Mati Gagliardi, argentino (por ende campeón del mundo), tengo 26 años y soy Periodista. Actualmente soy redactor en una web pero quiero dedicarme en un futuro a la programación, por eso están viendo esto.</p>
    <p>Sobre el proyecto quiero decir que nunca me había emocionado tanto EQUIVOCARME Y ROMPER COSAS como lo hice con los templates y las funciones y posteriormente emocionarme cuando arreglaba esas macanas. En fin, ¡que lo disfruten!</p>
{% endblock %}