{% extends 'padre.html' %}
{% load static %}
{% block header %}
<h1>Posteo</h1>
{% endblock %}

{% block contenido_que_cambia %}
    <h1>{{ posteo.titulo }}</h1>
    <h2>{{ posteo.subtitulo }}</h2>
    <p>{{ posteo.contenido }}</p>
    <img src="{{ posteo.imagen.url }}" alt="Imagen del posteo" style="max-width: 70%;">
    <p>Autor: {{ posteo.autor.username }}</p>
    <p>Fecha de publicación: {{ posteo.fecha_publicacion }}</p>
    {% if user.is_authenticated %}
    <a style="color:forestgreen" href="{% url 'editar_posteo' posteo.id %}">Editar</a>
    <a style="color:brown" href="{% url 'borrar_posteo' posteo.id %}">Borrar</a>
    {% endif %}
{% endblock %}