{% extends 'padre.html' %}
{% load static %}
{% block header %}
<h1>Posteos</h1>
{% endblock %}

{% block contenido_que_cambia %}
    <h3 class="subheading">TODOS LOS POSTEOS</h3>
    <hr class="my-4">
    {% for post in posteos %}
        {% if post in posteos %}
            <h2>{{ post.titulo }}</h2>
            <p>{{ post.subtitulo }}</p>
            <img src="{{ post.imagen.url }}" style="width: 40%;" alt="Imagen del posteo">
            <a class="btn btn-info" href="{% url 'detalle_posteo' post.id %}">Ver más</a>
            <hr class="my-4">
        {% else %}
            <p>No hay posteos</p>
        {% endif %}
    {% endfor %}
{% endblock %}